$guacamole-remote-desktop-toolbar-background-color: rgba(39, 42, 49, 1.0);
$guacamole-remote-desktop-toolbar-border-color: #131418;
$guacamole-remote-desktop-toolbar-item-color: rgba(255, 255, 255, 0.6);
$guacamole-remote-desktop-toolbar-item-hover-color: rgba(255, 255, 255, 1);
$guacamole-remote-desktop-toolbar-width: 170px;
$guacamole-remote-desktop-filesystem-text-color: rgb(215, 215, 215);
$guacamole-remote-desktop-viewport-background-color: #272a31;
$guacamole-remote-desktop-font-family: inherit;
$guacamole-remote-desktop-background-color: #ffffff;
$guacamole-remote-desktop-status-bar-background-color: #272a31;
$guacamole-remote-desktop-status-bar-border-color: #131418;

.guacamole-remote-desktop {
  font-family: $guacamole-remote-desktop-font-family;
  background: $guacamole-remote-desktop-background-color;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;

  .guacamole-remote-desktop-status-bar-hidden {
    display: none;
  }

  .guacamole-remote-desktop-status-bar {
    flex: 0 0 20px;
    height: 20px;
    width: 100%;
    display: flex;
    background: $guacamole-remote-desktop-status-bar-background-color;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    padding: 0px 5px 0px 5px;
    border-top: 1px solid $guacamole-remote-desktop-status-bar-border-color;
    justify-content: space-between;

    a,
    strong {
      padding-right: 2px;
      padding-left: 2px;
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }

    strong {
      text-decoration: none;
    }

    a {
      text-decoration: none;
      outline: none;
    }

    .guacamole-remote-desktop-status-bar {
      flex: 1;
    }
  }

  .guacamole-remote-desktop-toolbar {
    flex: 0 0 35px;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $guacamole-remote-desktop-toolbar-border-color;
    background: $guacamole-remote-desktop-toolbar-background-color;
    font-weight: 700;

    &.guacamole-remote-desktop-toolbar-fullscreen {
      position: absolute;
      top: 0px;
      left: 0;
      width: $guacamole-remote-desktop-toolbar-width;
      height: 100%;
      z-index: 1000;
      flex-flow: column wrap;

      .guacamole-remote-desktop-toolbar-items {
        flex-direction: column;
      }

      border-right: 1px solid $guacamole-remote-desktop-toolbar-border-color;
      border-bottom: none;
    }

    .guacamole-remote-desktop-toolbar-items {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .guacamole-remote-desktop-toolbar-item {
        line-height: 0px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding: 0.5em 0.5em;
        color: $guacamole-remote-desktop-toolbar-item-color;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          color: $guacamole-remote-desktop-toolbar-item-hover-color;
        }
      }
    }
  }

  .guacamole-remote-desktop-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    .guacamole-remote-desktop-viewport {
      border: 1px solid $guacamole-remote-desktop-viewport-background-color;
      position: relative;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 100%;
      background: $guacamole-remote-desktop-viewport-background-color;
    }

    .guacamole-remote-desktop-message {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 20px;
      word-wrap: break-word;

      .guacamole-remote-desktop-message-title {
        margin-bottom: 0.75rem;
        font-size: 1.25rem;

        &-success {
          color: #28a745;
        }

        &-error {
          color: #dc3545;
        }
      }

      .guacamole-remote-desktop-message-body {
        .guacamole-remote-desktop-message-body-btn {
          cursor: pointer;
          color: #212529;
          background-color: #e2e6ea;
          border-color: #dae0e5;
          display: inline-block;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          user-select: none;
          border: 1px solid transparent;
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: .25rem;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
      }
    }

    .transfer-manager,
    .file-manager-container {
      color: $guacamole-remote-desktop-filesystem-text-color;
      border-right: 1px solid $guacamole-remote-desktop-toolbar-border-color;
      background: $guacamole-remote-desktop-toolbar-background-color;

      button {
        border: 1px solid $guacamole-remote-desktop-filesystem-text-color;
        color: $guacamole-remote-desktop-filesystem-text-color;
        background-color: transparent;

        &:hover {
          background-color: rgba(239, 239, 239, 0.21);
        }
        &:active {
          background-color: rgba(77, 77, 77, 0.13);
          color: darken($guacamole-remote-desktop-filesystem-text-color, 20%)
        }
      }

      i {
        filter: invert(1);
      }
    }

    .file-manager-container .current-filesystem .files-list-container table {
      .fs-element.directory {
        &:hover {
          color: lighten($guacamole-remote-desktop-filesystem-text-color, 40%)
        }

        &:active {
          color: lighten($guacamole-remote-desktop-filesystem-text-color, 20%)
        }
      }
    }

    .transfer-manager .transfer.error {
      background: #700707;
    }
  }
}
