
<div class="vdi-container">
<guacamole-remote-desktop [showFileManager]="fileManagerVisible">
    <!-- Toolbar items -->
    <guacamole-remote-desktop-toolbar-item *ngIf="remoteDesktopService.isConnected()" (click)="handleTakeScreenshot()" align="left" >
      Take screenshot
    </guacamole-remote-desktop-toolbar-item>
    <guacamole-remote-desktop-toolbar-item *ngIf="remoteDesktopService.isConnected()" (click)="handleClipboard()" align="left" >
      Clipboard
    </guacamole-remote-desktop-toolbar-item>
    <guacamole-remote-desktop-toolbar-item *ngIf="remoteDesktopService.isConnected()" (click)="toggleFileManager()" align="left" >
      File Manager
    </guacamole-remote-desktop-toolbar-item>
    <guacamole-remote-desktop-toolbar-item *ngIf="remoteDesktopService.isConnected()" (click)="handleDisconnect()" align="right">
      Disconnect
    </guacamole-remote-desktop-toolbar-item>
    <guacamole-remote-desktop-toolbar-item *ngIf="!remoteDesktopService.isFullScreen() && remoteDesktopService.isConnected()" (click)="handleEnterFullScreen()" align="right">
      Enter full screen
    </guacamole-remote-desktop-toolbar-item>
    <guacamole-remote-desktop-toolbar-item *ngIf="remoteDesktopService.isFullScreen() && remoteDesktopService.isConnected()" (click)="handleExitFullScreen()" align="right">
      Exit full screen
    </guacamole-remote-desktop-toolbar-item>

    <!-- Override connection state messages -->
    <guacamole-remote-desktop-connecting-message>
      <div class="guacamole-remote-desktop-message-title guacamole-remote-desktop-message-title-success">
        CONNECTING TO REMOTE DESKTOP
      </div>
      <div class="guacamole-remote-desktop-message-body">
        Attempting to connect to the remote desktop. Waiting for response...
      </div>
    </guacamole-remote-desktop-connecting-message>

    <!-- Status bar -->
    <guacamole-remote-desktop-status-bar *ngIf="remoteDesktopService.isConnected()">
      <guacamole-remote-desktop-status-bar-item>
          You are currently connected to: <strong>Machine 1</strong>
      </guacamole-remote-desktop-status-bar-item>
      <guacamole-remote-desktop-status-bar-item>
          <span>Need help? Look at our <a href="#">documentation</a></span>
      </guacamole-remote-desktop-status-bar-item>
    </guacamole-remote-desktop-status-bar>

    <!-- File Manager -->
    <guacamole-remote-desktop-file-manager *ngIf="remoteDesktopService.isConnected()">
    </guacamole-remote-desktop-file-manager>
  </guacamole-remote-desktop>
</div>

